[Unit]
Description=Thingsserver 2
After=network.target

[Service]
ExecStart=/usr/local/bin/node /var/services/homes/Thomas/thingsserver/thingsserver2.js
User=Thomas
Group=users
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/services/homes/Thomas/thingsserver/

[Install]
WantedBy=multi-user.target